@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@font-face {
  font-family: "NightCore";
  src: url(/Assets/fonts/nightcore/Nightcore_Demo.ttf);
}
.player-card {
  width: 160px;
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
}

.player-card__image__avatar {
  position: absolute;
  top: 13px;
  left: 35px;
  height: 70px;
}

.player-card__name {
  font-family: Permanent Marker;
  color: white;
}