@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@font-face {
  font-family: "NightCore";
  src: url(/Assets/fonts/nightcore/Nightcore_Demo.ttf);
}
#dices__container {
  position: relative;
  margin-top: 30px;
  background-color: black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice__container1 {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dices__container1 {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#dice__container2 {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dices__container2 {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#dices__draw {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  z-index: 1;
  background-color: #000;
  color: white;
  font-size: x-large;
  font-family: Permanent Marker;
}

#dices__youWin {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  z-index: 1;
  background-color: #000;
  color: white;
  font-size: x-large;
  font-family: Permanent Marker;
}

.p5Canvas:hover {
  cursor: pointer;
}