// ============= Fonts
@font-face {
  font-family: "NightCore";
  src: url(/Assets/fonts/nightcore/Nightcore_Demo.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

//============= SASS Variables font-family
$font-permanentMarker: Permanent Marker;
$font-didactGothic: Didact Gothic;
$font-nightCore: NightCore;

.boton-roll-dice__button {
  // font-family: $font-permanentMarker;
  background: none;
  border: 0;
  color: inherit;
  background-image: url('/Assets/images/sign.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 200px;
  height: 63px;
  width: 154px;
  scale: 1.5;
  margin-bottom: 30px;


  p {
    font-family: $font-permanentMarker;
    font-size: x-small;
    rotate: -2.88deg;
  }
}

.boton-roll-dice__button:hover {

  cursor: pointer;
  opacity: .7;

}

.boton-draw-ok__button {
  // font-family: $font-permanentMarker;
  background: none;
  border: 0;
  color: inherit;
  background-image: url('/Assets/images/sign.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 200px;
  height: 63px;
  width: 154px;
  scale: 1.5;
  margin-bottom: 30px;


  p {
    font-family: $font-permanentMarker;
    font-size: x-small;
    rotate: -2.88deg;
  }
}

.boton-draw-ok__button:hover {

  cursor: pointer;
  opacity: .7;

}

.boton-win-ok__button {
  // font-family: $font-permanentMarker;
  background: none;
  border: 0;
  color: inherit;
  background-image: url('/Assets/images/sign.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 200px;
  height: 63px;
  width: 154px;
  scale: 1.5;
  margin-bottom: 30px;


  p {
    font-family: $font-permanentMarker;
    font-size: x-small;
    rotate: -2.88deg;
  }
}

.boton-win-ok__button:hover {

  cursor: pointer;
  opacity: .7;

}