//============= SASS Variables font-family
$font-permanentMarker: Permanent Marker;
$font-didactGothic: Didact Gothic;
$font-nightCore: NightCore;

//============= SASS Variables Theme colors
$gray: #7c8685;
$graylight: #aaaca1;
$redorange: #e3311d;
$brown: #362e2d;
$black: #050507;

body {
  background-image: url("/Assets/images/gamepagebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 100vh;
}

// ============= Breakpoint Mobile
@media (max-width: 599px) {
  body {
    background-image: url("/Assets/images/gamepagebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    min-height: 100vh;
  }
}

// ============= Breakpoint Medium
@media (min-width: 600px) {
  .nav__desktop {
    justify-content: flex-start;
    margin-left: 3%;
  }
}

// ============= Breakpoint Large
@media (min-width: 1200px) {
  .nav__desktop {
    justify-content: flex-start;
    margin-left: 3%;
  }
}

//=============== Fase 3
.main__container {
  border: $brown 3px solid;
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  background: rgba(31, 31, 31, 0.3);
  margin-top: 3%;
}

.main__third {
  font-family: $font-permanentMarker;
  color: white;
  margin-top: 3%;
  padding: 3%;
  justify-content: center;
}

#playing-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 83px;
  p {
    font-size: 36px;
  }
}

#dices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 147px;
}

button {
  font-family: $font-permanentMarker;
  height: 63.42px;
  width: 154.2px;
  background: url(/Assets/images/sign.svg) no-repeat;
  padding: 40px;
}
