//Common css to all webapp
// ============= Fonts
@font-face {
    font-family: "NightCore";
    src: url(/Assets/fonts/nightcore/Nightcore_Demo.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

//============= SASS Variables font-family
$font-permanentMarker: Permanent Marker;
$font-didactGothic: Didact Gothic;
$font-nightCore: NightCore;

//============= SASS Variables Theme colors
$gray: #7C8685;
$graylight: #AAACA1;
$redorange: #E3311D;
$brown: #362E2D;
$black: #050507;


//============= Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


//============= Global CSS
a:link {
    text-decoration: none;
}



header a {
    color: $redorange;
}

header a:link {
    color: $redorange;
}

header a:hover {
    color: white;
}


nav ul {
    list-style: none;
    font-family: $font-permanentMarker;
}



footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-permanentMarker;
    color: white;
}


// ============= Breakpoint Mobile
@media (max-width: 599px) {




    header {
        height: 275px;
    }


    .nav__aside {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 2rem;
        width: 200px;
        height: calc(100vh - 70px);
        background-color: $black;
        transition: .1s all linear;
        opacity: 90%;
        height: 300px;
        border-radius: 0px 0px 0px 20px;

    }

    .nav__aside--display {
        display: block;
    }

    .nav__mobile {
        display: flex;
        height: 70px;
        width: 100%;
        background-color: $brown;

    }

    .nav__mobile__ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .nav__desktop {
        display: none;

    }

    .nav__desktop__ul {
        display: none;
    }

    #header__hamburger {
        display: flex;
        position: absolute;
        background: url('/Assets/images/necktie.svg');
        border: none;
        background-repeat:no-repeat;
        cursor: pointer;
        width: 30px;
        height: 30px;
        right: 20px;
        top: 20px;

    }

    .header__title__container {
        display: flex;
        justify-content: center;
    }

    .header__title__logo {
        display: none;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-top: 110px;
        margin-right: 15px;

    }

    .header__title {
        margin-top: 20px;
        height: 130px;
    }

    .header__logo {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 60px;
        display: block;
    }




}


// ============= Breakpoint Medium
@media (min-width: 600px) {

    header {
        height: 275px;

    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        padding-right: 40px;
        padding-top: 40px;
        background-color: transparent;
    }

    nav ul {
        margin-top: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;

    }

    .nav__aside {
        display: none;
    }

    .nav__mobile {
        display: none;
    }

    .nav__mobile__ul {
        display: flex;
    }

    .nav__desktop {
        display: flex;
    }

    .nav__desktop__ul {
        display: flex;
    }

    #header__hamburger {
        display: none;
    }

    .header__title__container {
        display: flex;
        justify-content: center;
    }

    .header__title__logo {
        display: block;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-top: 110px;
        margin-right: 15px;
        transform: rotate(345deg);
    }

    .header__title {
        margin-top: 20px;
        height: 200px;
    }

    .header__logo {
        display: none;
    }



}

// ============= Breakpoint Large
@media (min-width: 1200px) {

    header {
        height: 275px;

    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        padding-right: 40px;
        padding-top: 40px;
        background-color: transparent;
    }

    nav ul {
        margin-top: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;

    }

    .nav__aside {
        display: none;
    }

    .nav__mobile {
        display: none;
    }

    .nav__mobile__ul {
        display: flex;
    }

    .nav__desktop {
        display: flex;
    }

    .nav__desktop__ul {
        display: flex;
    }

    #header__hamburger {
        display: none;
    }

    .header__title__container {
        display: flex;
        justify-content: center;
    }

    .header__title__logo {
        display: block;
    }

    .header__title {
        margin-top: 20px;
        height: 200px;
    }

    .header__logo {

        display: none;
    }


}